*/Android/*
Android/*
flutter/*
*/flutter/*
commandlinetools-linux-11076708_latest.zip
flutter_linux_3.24.3-stable.tar.xz
flutter
materi/*/.dart_tool/*
materi/*/.idea/*
materi/*/linux/*
materi/*/macos/*
materi/*/test/*
materi/*/web/*
materi/*/windows/*
materi/*/build/*
materi/*/ios/*
materi/*/android/*
materi/*/backend/db/*
